.forgot-password-section{
    padding: 150px 30px 30px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgot-password-cont{
    width: 600px;
    padding: 20px;
    background: #161616;
    border-radius: 14px;
}

.forgot-password-cont h2 {
    color: #f8f8f8;
    text-align: center;
}

.forgot-password-cont p {
    color: #f8f8f8;
    font-size: 14px;
    text-align: center;
    margin: 8px 0;
}

.forgot-password-cont .input-cont {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #0a0a0a;
    margin: 10px 0;
    padding: 0 0 0 15px;
}

.forgot-password-cont form input {
    width: 100%;
    padding: 16px 15px;
    background-color: #0a0a0a;
    border: none;
    color: #f8f8f8;
}

.forgot-password-cont form .forgot-password-input-icon {
    color: #f8f8f8;
    font-size: 18px;
    margin: 0 auto;
}

.forgot-password-cont form button {
    border-radius: 8px;
    padding: 14px 15px;
    border: none;
    cursor: pointer;
    background-color: #51b1e9;
    color: #0a0a0a;
    width: 100%;
    margin-top: 15px;
    transition: .4s;
}

.forgot-password-cont form button:hover {
    background-color: #51b1e9ce;
}

.forgot-password-section .back-to-login{
    padding: 4px 7px;
    border: none;
    background: transparent;
    color: #f8f8f8;
    margin-top: 10px;
    font-size: 13px;
    cursor: pointer;
    transition: .4s;
}

.forgot-password-section .back-to-login:hover{
    color: #51b1e9;
}

@media (max-width:500px){
    .forgot-password-section{
        padding: 150px 15px 30px;
    }
}