.NewReleased-section {
    padding: 100px 30px 30px;
}

.NewReleased-section h2,
.NewReleased-section p {
    text-align: center;
    color: #f8f8f8;
}

.NewReleased-section button {
    padding: 8px;
    border: 1px solid #51b1e9;
    background: #51b1e9;
    cursor: pointer;
    transition: .4s;
    display: flex;
    align-items: center;
    gap: 6px;
}

.NewReleased-section button:hover {
    background: #51b1e9c2;
}